.navbar {
  background-color: #333;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* .nav-list li a:hover {
  text-decoration: underline;
} */
nav ul li button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
nav ul li button:hover {
  background-color: #45a049;
}
